<div class="row">
    <div class="col-xs-10">
        <app-employee-edit></app-employee-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor:pointer" 
            *ngFor="let employee of employees; let i = index"
            (click)="onEditItem(i)"
            >
                {{ employee.eid }} 
                {{ employee.name }} 
                {{ employee.dept }} 
                {{ employee.salary }}
            </a>
        </ul>
    </div>
</div>